<div class="user-line">
  <% if user.photo.nil? %>
    <%= link_to image_tag('users/default_user_image.PNG', class: 'user-photo'), user_path(user) %>
  <% else %>
    <%= link_to image_tag(user.photo, class: 'user-photo'), user_path(user) %>
  <% end %>

  <div class="name-counter">
    <span class="name">
      <%= link_to user.name, user_path(user) %>
    </span>
    <div>
      <span class="right-top"></span>
      <span class="counter">Number of posts: <strong><%= user.posts_counter %></strong></span>
      <span class="right"></span>
    </div>
  </div>
</div>
