<div class="user-line">
  <% if user.photo.present? %>
    <%= link_to image_tag(user.photo, class: 'user-photo'), user_path(user) %>
  <% else %>
    <span>No photo available</span>
  <% end %>
  <div class="name-counter">
    <span class="name">
      <%= link_to user.name, user_path(user) %>
    </span>
    <div>
      <span class="right-top"></span>
      <span class="counter">Number of posts: <strong><%= user.posts_counter %></strong></span>
      <span class="right"></span>
    </div>
  </div>
</div>
