<h1>User All Posts</h1>
<h2>User 1</h2>
<div>
  <h3>Post 1</h3>
  <p>Amet dictum sit amet justo donec enim diam vulputate ut. Etiam sit 
    amet nisl purus in mollis nunc. Aenean euismod elementum nisi quis 
    eleifend quam adipiscing vitae. Habitasse platea dictumst quisque 
    sagittis purus.</p>
  <ul>
    <li>User 3 - Comment 1</li>
    <li>User 4 - Comment 2</li>
    <li>User 5 - Comment 3</li>
  </ul>
</div>
<div>
  <h3>Post 2</h3>
  <p>Duis convallis convallis tellus id interdum velit laoreet id. 
    Diam sit amet nisl suscipit adipiscing bibendum est ultricies. 
    Eu facilisis sed odio morbi quis commodo odio aenean.</p>
  <ul>
    <li>User 6 - Comment 1</li>
    <li>User 4 - Comment 2</li>
    <li>User 5 - Comment 3</li>
  </ul>
</div>
