<h1>Single Post Page</h1>
<h3>Post 1 by Username</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
  do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
  Ac tortor dignissim convallis aenean et. Lectus magna fringilla 
  urna porttitor rhoncus dolor. Consequat interdum varius sit amet 
  mattis vulputate. Fringilla urna porttitor rhoncus dolor purus non 
  enim. Pharetra massa massa ultricies mi quis hendrerit. Praesent 
  elementum facilisis leo vel.</p>
<ul>
    <li>User 3 - Comment 1</li>
    <li>User 4 - Comment 2</li>
    <li>User 5 - Comment 3</li>
  </ul>
