* {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin-top: 2rem;
  margin-left: 2%;
}

h4 {
  margin: 0;
  padding: 0;
}

section {
  margin-left: 2%;
  margin-right: 4%;
  margin-bottom: 1%;
  border: 2px solid black;
  padding: 1rem;
}

.users-list {
  padding: 0;
  margin: 0;
  width: 100%;
}

.user-line {
  width: 90%;
  margin-left: 2%;
  margin-bottom: 1%;
  padding: 0;
  display: flex;
}

.user-photo {
  border: 2px solid black;
  width: 3rem;
  height: 3.7rem;
}

.name-counter {
  border: 2px solid black;
  margin-left: 1rem;
  padding: 0;
  padding-left: 1%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 2.5rem;
}

.user-line a {
  font-size: 2rem;
}

.right-top {
  font-size: 2.8rem;
}

.right {
  margin-left: 1rem;
}

.counter {
  font-size: small;
}

.post-border {
  border: 2px solid black;
  margin-left: 2%;
  margin-right: 4%;
  margin-bottom: 1%;
  padding: 0.5rem;
}

.post-border p {
  margin: 0;
  padding: 0;
}

.sep {
  margin-top: 2rem;
}

.section1 {
  margin-left: 2%;
  margin-right: 5%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: 2px solid black;
  margin-bottom: 1%;
}

.h3 {
  font-size: medium;
}

.h4 {
  font-size: 1rem;
  font-weight: 400;
  margin-right: 2rem;
  float: right;
}

.buttons-div {
  display: flex;
}

.new-comment {
  margin-top: 0;
  margin-left: 25%;
  margin-bottom: 1%;
  font-weight: 500;
  font-size: 1rem;
  padding: 8px 12px;
  border: 1px solid blue;
  border-radius: 4px;
  background-color: dodgerblue;
  color: black;
  text-decoration: none;
  box-shadow: 3px 3px rgba(122, 122, 122, 0.8);
}

.new-comment:hover {
  background-color: rgb(138, 190, 241);
  border: 1px solid rgb(19, 1, 85);
  border-radius: 4px;
  color: rgb(19, 1, 85);
  text-decoration: none;
  box-shadow: 3px 3px rgba(122, 122, 122, 0.8);
}

.new-comment:active {
  background-color: rgb(0, 81, 161);
  border: 1px solid rgb(19, 1, 85);
  border-radius: 4px;
  color: rgb(19, 1, 85);
  text-decoration: none;
  box-shadow: 2px 2px rgba(122, 122, 122, 0.8);
}

.root {
  margin-top: 0;
  margin-left: 2%;
  margin-bottom: 1%;
  font-weight: 500;
  font-size: 1rem;
  padding: 8px 12px;
  border: 1px solid blue;
  border-radius: 4px;
  background-color: dodgerblue;
  color: black;
  text-decoration: none;
  box-shadow: 3px 3px rgba(122, 122, 122, 0.8);
}

.root:hover {
  background-color: rgb(138, 190, 241);
  border: 1px solid rgb(19, 1, 85);
  border-radius: 4px;
  color: rgb(19, 1, 85);
  text-decoration: none;
  box-shadow: 3px 3px rgba(122, 122, 122, 0.8);
}

.root:active {
  background-color: rgb(0, 81, 161);
  border: 1px solid rgb(19, 1, 85);
  border-radius: 4px;
  color: rgb(19, 1, 85);
  text-decoration: none;
  box-shadow: 2px 2px rgba(122, 122, 122, 0.8);
}

.line {
  display: flex;
}

.thumbs-up {
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 1%;
  font-weight: 500;
  font-size: 1rem;
  padding: 8px 12px;
  border: 1px solid blue;
  border-radius: 4px;
  background-color: dodgerblue;
  color: black;
  text-decoration: none;
  box-shadow: 3px 3px rgba(122, 122, 122, 0.8);
}

.thumbs-up:hover {
  background-color: rgb(138, 190, 241);
  border: 1px solid rgb(19, 1, 85);
  border-radius: 4px;
  color: rgb(19, 1, 85);
  text-decoration: none;
  box-shadow: 3px 3px rgba(122, 122, 122, 0.8);
}

.thumbs-up:active {
  background-color: rgb(0, 81, 161);
  border: 1px solid rgb(19, 1, 85);
  border-radius: 4px;
  color: rgb(19, 1, 85);
  text-decoration: none;
  box-shadow: 2px 2px rgba(122, 122, 122, 0.8);
}

.delete-btn {
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 1%;
  font-weight: 500;
  font-size: 1rem;
  padding: 8px 12px;
  border: 1px solid blue;
  border-radius: 4px;
  background-color: dodgerblue;
  color: black;
  text-decoration: none;
  box-shadow: 3px 3px rgba(122, 122, 122, 0.8);
}

.delete-btn:hover {
  margin-left: 10px;
  background-color: rgb(138, 190, 241);
  border: 1px solid rgb(19, 1, 85);
  border-radius: 4px;
  color: rgb(19, 1, 85);
  text-decoration: none;
  box-shadow: 3px 3px rgba(122, 122, 122, 0.8);
}

.delete-btn:active {
  background-color: rgb(0, 81, 161);
  border: 1px solid rgb(19, 1, 85);
  border-radius: 4px;
  color: rgb(19, 1, 85);
  text-decoration: none;
  box-shadow: 2px 2px rgba(122, 122, 122, 0.8);
}

.del-comment {
  border: 1px solid blue;
  border-radius: 4px;
  background-color: dodgerblue;
  color: black;
}

.counter1 {
  margin-left: 3%;
}
